@import 'variables';
@import 'mixins';

.get-a-quote {
  background-color: $secondary-color;
  padding: 3rem;
  color: $form-text-color;
  max-width: 1020px;
  @media (min-width: 764px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__title {
    font-style: normal;
    font-weight: 900;
    font-size: 3rem;
    line-height: 3.6rem;
    margin: 1rem 0;
  }

  &__text {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 3rem;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  @media (min-width: 764px) {
    width: 66%;
  }

  &__name,
  &__mail,
  &__subject,
  &__textarea,
  &__btn {
    width: 100%;
    border: 0;
    border-radius: 0.5rem;
    height: 3.8rem;
    margin-bottom: 1.2rem;
  }

  &__name,
  &__mail,
  &__subject,
  &__textarea {
    background-color: $form-field-bg;
    padding: 1.2rem 0.6rem;

    &::placeholder {
      font-style: normal;
      font-weight: normal;
      font-size: 1.2rem;
      line-height: 1.2rem;
      color: #f48c8f;
    }
  }

  &__btn {
    @media (min-width: 764px) {
      width: 13.6rem;
      align-self: flex-start;
    }
    background-color: #fbc65f;
    font-style: normal;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 1.7rem;
    text-align: center;
    text-transform: uppercase;
  }
}

.contact {
  @media (min-width: 764px) {
    width: 22.1rem;
    display: flex;
    flex-wrap: wrap;
  }
  @media (min-width: 1020px) {
    width: 30rem;
    display: flex;
    flex-wrap: wrap;
  }
  &__title {
    font-style: normal;
    font-weight: 900;
    font-size: 1.8rem;
    line-height: 1.8rem;
    margin: 1rem 0;
  }
  &__text {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 1.2rem;
    line-height: 2.2rem;
    text-align: justify;
    margin: 1rem 0;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__elem {
    margin-bottom: 0.5rem;
  }

  &__contact {
    text-decoration: none;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 1.2rem;
    line-height: 2.2rem;
    text-align: justify;
    color: inherit;
  }

  &__img {
    margin-right: 1rem;
  }
}
