@import 'variables';

@mixin burger($width: 2.6rem) {
  color: $white-color;
  width: $width;
  border: 1px solid $white-color;
  border-radius: 2px;
}

@mixin list-style {
  list-style: none;
  margin: 0;
  padding: 0;
}
